<header class="navbar navbar-dark navbar-full bg-primary fixed-top">
    {% if requireSideNav == True %}
    <button aria-expanded="false" aria-label="Toggle Navdrawer"
        class="navbar-toggler" data-target="#navdrawer" data-toggle="navdrawer">
        <span class="navbar-toggler-icon"></span></button>
    {% endif %}
    <span class="navbar-brand mr-auto">{% if inst_title == "Welcome" %} Welcome to Smart Classroom {% else %} {{ inst_title }} | Smart Classroom {% endif %}</span>
</header>

{% if requireSideNav == True %}
{% include "sidebar.html" with requireSideNav=True user_current_name=user_session_name user_inst_type=user_type %}
{% else %}
{% include "sidebar.html" with requireSideNav=False %}
{% endif %}