{% load static %}
{% if requireSideNav == True %}
<div aria-hidden="true" class="navdrawer" id="navdrawer" tabindex="-1">
  {% if user_inst_type == "Admin" or user_inst_type == "Teacher" %}
  <div class="navdrawer-content">
    <div class="sidebar-account container">
      <img class="primary-user-pic" src="{% static 'rsrc/avatar.jpg' %}">
      <div class="sidebar-primary-name-acc">
        <h6 class="text-black-primary primary-name-acc" href="javascript:void(0)">{{user_current_name}}</h6>
      </div>
      <div class="sidebar-secondary-name-acc">
        <span class="text-black-secondary" href="javascript:void(0)">{{user_inst_type}} </span>
        <button class="btn btn-icon btn-sm text-white align-right" type="button" id="accountInfo" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false"><i
            class="material-icons text-black-secondary">arrow_drop_down</i></button>
        <div class="dropdown-menu" aria-labelledby="accountInfo">
          <span class="dropdown-header text-black-secondary">Account</span>
          <a class="dropdown-item btn-icon-prepend" href="#"><i
              class="material-icons text-black-secondary">account_tree</i>Account
            Settings</a>
          <a class="dropdown-item btn-icon-prepend" href="{% url 'deauth_user_view' %}"><i
              class="material-icons text-black-secondary">power_settings_new</i>Log-out</a>
        </div>
      </div>
    </div>
    <div class="navdrawer-divider special-type"></div>
    {% if user_inst_type == "Admin" %}
    <div class="navdrawer-subheader">Main Menu</div>
    <ul class="navdrawer-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard_user_view' %}"><i
            class="material-icons mr-3 text-black-secondary">dashboard</i>Dashboard</a>
      </li>
    </ul>
    <div class="navdrawer-divider"></div>
    <div class="navdrawer-subheader">Manage</div>
    <ul class="navdrawer-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'classroom_user_view' %}"><i
            class="material-icons mr-3 text-black-secondary">meeting_room</i>Classrooms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'classroom_log_extensible_view' %}"><i
            class="material-icons mr-3 text-black-secondary">assignment</i>Recent Logs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'override_exclusive_view' %}"><i class="material-icons mr-3 text-black-secondary">gavel</i>Control
          Override</a>
      </li>
    </ul>
    {% elif user_inst_type == "Teacher" %}
    <div class="navdrawer-subheader">Main Menu</div>
    <ul class="navdrawer-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard_user_view' %}"><i
            class="material-icons mr-3 text-black-secondary">dashboard</i>Dashboard</a>
      </li>
    </ul>
    <div class="navdrawer-divider"></div>
    <div class="navdrawer-subheader">Manage</div>
    <ul class="navdrawer-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'schedule_exclusive_view' %}"><i class="material-icons mr-3 text-black-secondary">schedule</i>Your
          Schedule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'classroom_user_view' %}"><i
            class="material-icons mr-3 text-black-secondary">meeting_room</i>Classrooms</a>
      </li>
      <div class="navdrawer-divider"></div>
      <div class="navdrawer-subheader">Information</div>
      <ul class="navdrawer-nav">
        <li class="nav-item">
          <a class="nav-link close-sidebar" href="javascript:void(0)" data-toggle="modal" data-target="#actionAboutDeveloper"><i
              class="material-icons mr-3 text-black-secondary">update</i>About Us</a>
        </li>
      </ul>
  </div>
  {% else %}
  {% endif %}
  {% if user_inst_type == "Admin" %}
  <div class="navdrawer-divider"></div>
  <div class="navdrawer-subheader">System</div>
  <ul class="navdrawer-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'syssettings_exclusive_view' %}"><i class="material-icons mr-3 text-black-secondary">settings</i>System
        Settings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0)"><i class="material-icons mr-3 text-black-secondary">update</i>Reset
        Server</a>
    </li>
  </ul>
  <div class="navdrawer-divider"></div>
  <div class="navdrawer-subheader">Information</div>
  <ul class="navdrawer-nav">
    <li class="nav-item">
      <a class="nav-link close-sidebar" href="javascript:void(0)" data-toggle="modal" data-target="#actionAboutDeveloper"><i
          class="material-icons mr-3 text-black-secondary">update</i>About
        Us</a>
    </li>
  </ul>
  {% endif %}
</div>
{% endif %}
</div>
{% endif %}