/*
    ! sc_require.css
    * Created by Janrey Licas
    * Files Merged on 01/24/2019
    * This was added to aid unfixed multiple component layouts.
    ! NOTE: This was subjected to change such as converting itself to SCSS.
*/

/* ! Sidebar CSS Rulesets - START */

.navdrawer.navdrawer-permanent-lg div.navdrawer-content {
    padding: 70px 0 0 0 !important;
}

.navdrawer.navdrawer-permanent-lg.show div.navdrawer-content {
    padding: unset !important;
}

.navdrawer-divider.special-type {
    margin: 8px 0 8px 0 !important;
}

img.primary-user-pic {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-bottom: 16px;
}

.primary-name-acc {
    margin: 0 !important;
}

.sidebar-account {
    padding-top: 16px !important;
}

/* ! Sidebar CSS Rulesets - END */

/* ! Card Compatibility CSS Rulesets - START */

.card-img-overlay.keep-content-top {
    bottom: unset !important;
}

.card-img {
    opacity: 0.7 !important;
}

.progress-label {
    margin: 8px 0 0 !important;
}

.dashboard-item,
.schedule-item,
.log-item,
.actions-item,
.auth-item {
    margin-bottom: 8px !important;
}

.unpadded-actions {
    padding: unset !important;
}

.quick-actions.classroom {
    padding: 8px 0 !important;
}

.container.content-offset,
.container-fluid.content-offset {
    padding: 80px 0 !important;
}

.card-body.card-form-action {
    padding: 1rem 1rem 0 1rem !important;
}

.card.log-card {
    width: 30% !important;
}

.card .container.progress-container {
    padding: 0;
}

/* ! Card Classroom Actions Response Override ! */
@media (min-width: 576px) {
    .card-columns.class-control-column {
        column-count: 1;
    }
}

@media (min-width: 992px) {
    .card-columns.class-control-column {
        column-count: 2;
    }
}

/* ! Card Compatibility CSS Rulesets - END */

/* ! Body Visualization CSS Rulesets - START */

body.log-backfill {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ! Body Visualization CSS Rulesets - END */

/* ! UX for User Schedule CSS Rulesets - START */

.seperate-section {
    padding: 16px 0;
}

/* ! UX for User Schedule CSS Rulesets - END */

/* ! Custom Pill CSS Rulesets - START */

.bg-alert,
.bg-locked,
.bg-disabled {
    background-color: #ff2c14 !important;
}

.bg-offline {
    background-color: #212121 !important;
}

.bg-online {
    background-color: #0091EA !important;
}

.bg-unlocked,
.bg-enabled {
    background-color: #00E676 !important;
}

/* ! Custom Pill CSS Rulesets - END */