{% load static %}
<div class="container content-offset">
    <div class="row row-cols-lg-2 row-cols-md-1 row-cols-sm-1 dashboard-grid">
        {% if user_role == "Project Owner" or user_role == "Project Member" or user_role == "ITSO Administrator" or user_role == "ITSO Member" or user_role == "Professor" %}
        <div class="dashboard-item col mb-auto">
            <div class="card">
                <div class="keep-content-top">
                    <div class="card-header border-0">
                        <h1 class="card-title text-black-primary">Hello, {{username}}!</h1>
                        <p class="card-text text-black-secondary">You're logged in as {{user_role}}.</p>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-black-primary local_time_display">Unable to Render Time and ETA
                            before dismissal.</h3>
                        <div class="progress">
                            <div class="progress-bar bg-info time-width" role="progressbar" aria-valuenow="100"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="container progress-container d-flex justify-content-between align-items-center">
                            <span class="card-text text-black-secondary progress-label">Start — 7:00AM</span>
                            <span class="card-text text-black-secondary progress-label">End — 8:00PM</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="quick-actions classroom collapse" id="quick-actions-classroom">
                <div class="card card-body unpadded-actions list-group border-bottom-0 border-left-0 border-right-0"
                    id="list-tab" role="tablist">
                    <p class="navdrawer-subheader d-flex justify-content-between align-items-center">Automation</p>
                    <button
                        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                        data-toggle="modal" data-target="#actionAuthenticate">Classroom
                        Access, Open on Time<span class="badge badge-primary badge-pill">Currently
                            Disabled</span></button>
                    <button
                        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                        data-toggle="modal" data-target="#actionAuthenticate">Turn
                        Off Classrooms On Your Time Automatically <span class="badge badge-primary badge-pill">Triggered
                            Lately</span></button>
                </div>
            </div>
        </div>
        {% endif %}
        {% if user_role == "Professor" %}
        <div class="dashboard-item col mb-auto">
            <div class="card">
                <div class="card-header border-0">
                    <h2 class="card-title">Recent Action Logs</h2>
                    <h3 class="card-subtitle text-black-secondary">A set of actions recently recorded by the system.
                    </h3>
                </div>
                <div class="card-body list-group border-0" id="list-tab" role="tablist">
                    <a href="#" class="list-group-item list-group-item-action active">
                        <div class="d-flex w-100">
                            <h6 class="mb-1 text-dark-primary ">CPE013 | Logic Circuits and Design</h6>
                        </div>
                        <p class="mb-1 d-flex justify-content-between align-items-center">Q-5424 | CPE22FA1 | Lab<span
                                class="badge badge-primary badge-pill bg-success">Warning</span></p>
                        <p class="mb-1">Classroom Electricy was opened by
                            you.</p>
                        <small class="text-muted">8:05PM of January 24, 2020</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 text-dark-primary">CPE 101 </h6>
                        </div>
                        <p class="mb-1 d-flex justify-content-between align-items-center">Internet of Things | Lecture
                        </p>
                        <p class="mb-1 d-flex justify-content-between align-items-center">Q-5411 | CPE22FA1
                            <span class="badge badge-primary badge-pill">Info</span></p>
                        <p class="mb-1">Classroom Electricy has been turned off and locked down.</p>
                        <small class="text-muted">8:05PM of January 24, 2020</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 text-dark-primary">CPE013</h6>
                        </div>
                        <p class="mb-1 d-flex justify-content-between align-items-center">Embedded Systems</p>
                        <p class="mb-1 d-flex justify-content-between align-items-center">Q-5424 | CPE22FB1 | Lecture
                            <span class="badge badge-primary badge-pill bg-danger">Danger</span></p>
                        <p class="mb-1">Classroom has been left opened for 24 minutes! Please turn it off.</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 text-dark-primary">CPE013</h6>
                        </div>
                        <p class="mb-1 d-flex justify-content-between align-items-center">Embedded Systems</p>
                        <p class="mb-1 d-flex justify-content-between align-items-center">Q-5424 | CPE22FB1 | Lecture
                            <span class="badge badge-primary badge-pill bg-danger">Alert</span></p>
                        <p class="mb-1">Classroom has been left opened by another instructor. Please get in there!</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 text-dark-primary">CPE013</h6>
                        </div>
                        <p class="mb-1 d-flex justify-content-between align-items-center">Embedded Systems</p>
                        <p class="mb-1 d-flex justify-content-between align-items-center">Q-5424 | CPE22FB1 | Lecture
                            <span class="badge badge-primary badge-pill bg-danger">Info</span></p>
                        <p class="mb-1">Classroom has been locked.</p>
                    </a>
                </div>
                <div class="card-actions border-top d-flex justify-content-between align-items-center">

                    <a class="btn btn-flat-primary" href="{% url 'staff_action_logs_view' %}">View More Logs</a>
                    <span class="text-muted">Recent Actions Updated as of 12:00AM.</span>
                </div>
            </div>
        </div>
        <div class="dashboard-grid dashboard-item col mb-auto">
            <div class="card">
                <div class="card-header border-0">
                    <h2 class="card-title">Your Schedule for Today<h2>
                            <h3 class="card-subtitle text-black-secondary">Today is Friday! Note that you can click on
                                them to automate something.</h3>
                </div>
                <div class="card-body list-group border-0" id="list-tab" role="tablist">
                    <a href="#" class="list-group-item list-group-item-action active">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 text-dark-primary">CPE013 | Logic Circuits and Design</h6>
                        </div>
                        <p class="mb-1 d-flex justify-content-between align-items-center">Lecture Type is Lab<span
                                class="badge badge-primary badge-pill bg-primary">Current</span></p>
                        <p class="mb-1 d-flex j
                ustify-content-between align-items-center">Q-5424 | CPE22FA1 | M W F | 07:30AM to 11:30AM</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 text-dark-primary">CPE013 | Lecture</h6>
                        </div>
                        <p class="mb-1 d-flex justify-content-between align-items-center">Logic Circuits and Design
                            <span class="badge badge-primary badge-pill bg-secondary">Up Next</span></p>
                        <p class="mb-1 d-flex justify-content-between align-items-center">Q-5411 | CPE22FA1 | M W F |
                            04:30PM to 5:30PM</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 text-dark-primary">CPE 101 | Lecture</h6>
                        </div>
                        <p class="mb-1 d-flex justify-content-between align-items-center">Internet of Things</p>
                        <p class="mb-1 d-flex justify-content-between align-items-center">Q-5411 | CPE22FA1 | M W F |
                            04:30PM to 5:30PM</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 text-dark-primary">CPE013 | Lecture</h6>
                        </div>
                        <p class="mb-1 d-flex justify-content-between align-items-center">Embedded Systems</p>
                        <p class="mb-1 d-flex justify-content-between align-items-center">Q-5424 | CPE22FB1 | M TH |
                            07:30PM to 9:30PM</p>
                    </a>
                </div>
                <div class="card-actions border-top">

                    <a class="btn btn-flat-primary" href="{% url 'schedule_exclusive_view' %}">View More Schedules</a>
                </div>
            </div>
        </div>
        {% elif user_role == "Project Owner" or user_role == "Project Member" or user_role == "ITSO Administrator" or user_role == "ITSO Member" %}
        <div class="dashboard-item col mb-auto">
            <div class="card">
                <div class="card-header border-0">
                    <h1 class="card-title text-black-primary">Classrooms Status Counter</h1>
                    <p class="card-text text-black-secondary">Check Classroom Statuses without going even further.</p>
                </div>
                <div class="card-body list-group border-0" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active d-flex justify-content-between align-items-center"
                        href="javascript:void(0)" role="tab" aria-controls="home">Disabled Status
                        <span class="badge badge-primary badge-pill">0 Currently</span></a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                        href="javascript:void(0)" role="tab" aria-controls="profile">In-User Status<span
                            class="badge badge-primary badge-pill">1 Currently</span></a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                        href="javascript:void(0)" role="tab" aria-controls="messages">Opened Status<span
                            class="badge badge-primary badge-pill">1 Currently</span></a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                        href="javascript:void(0)" role="tab" aria-controls="settings">Closed Status<span
                            class="badge badge-primary badge-pill">1 Currently</span></a>
                </div>
                <div class="card-actions border-top d-flex justify-content-between align-items-center">

                    <a class="btn btn-flat-primary" href="{% url 'staff_action_logs_view' %}">View More</a>
                    <span class="text-muted">Updated as of 12:00AM.</span>
                </div>
            </div>
        </div>
        <div class="dashboard-item col mb-auto">
            <div class="card">
                <div class="card-header border-0">
                    <h2 class="card-title">Recent Action Logs</h2>
                    <h3 class="card-subtitle text-black-secondary">A set of actions recently recorded by the system.
                    </h3>
                </div>
                <div class="card-body list-group border-0" id="list-tab" role="tablist">
                    <a href="#" class="list-group-item list-group-item-action active">
                        <div class="d-flex w-100">
                            <h6 class="mb-1 text-dark-primary ">CPE013 | Logic Circuits and Design</h6>
                        </div>
                        <p class="mb-1 d-flex justify-content-between align-items-center">Q-5424 | CPE22FA1 | Lab<span
                                class="badge badge-primary badge-pill bg-success">Warning</span></p>
                        <p class="mb-1">Classroom Electricy was opened by
                            you.</p>
                        <small class="text-muted">8:05PM of January 24, 2020</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 text-dark-primary">CPE 101 </h6>
                        </div>
                        <p class="mb-1 d-flex justify-content-between align-items-center">Internet of Things | Lecture
                        </p>
                        <p class="mb-1 d-flex justify-content-between align-items-center">Q-5411 | CPE22FA1
                            <span class="badge badge-primary badge-pill">Info</span></p>
                        <p class="mb-1">Classroom Electricy has been turned off and locked down.</p>
                        <small class="text-muted">8:05PM of January 24, 2020</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 text-dark-primary">CPE013</h6>
                        </div>
                        <p class="mb-1 d-flex justify-content-between align-items-center">Embedded Systems</p>
                        <p class="mb-1 d-flex justify-content-between align-items-center">Q-5424 | CPE22FB1 | Lecture
                            <span class="badge badge-primary badge-pill bg-danger">Danger</span></p>
                        <p class="mb-1">Classroom has been left opened for 24 minutes! Please turn it off.</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 text-dark-primary">CPE013</h6>
                        </div>
                        <p class="mb-1 d-flex justify-content-between align-items-center">Embedded Systems</p>
                        <p class="mb-1 d-flex justify-content-between align-items-center">Q-5424 | CPE22FB1 | Lecture
                            <span class="badge badge-primary badge-pill bg-danger">Alert</span></p>
                        <p class="mb-1">Classroom has been left opened by another instructor. Please get in there!</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 text-dark-primary">CPE013</h6>
                        </div>
                        <p class="mb-1 d-flex justify-content-between align-items-center">Embedded Systems</p>
                        <p class="mb-1 d-flex justify-content-between align-items-center">Q-5424 | CPE22FB1 | Lecture
                            <span class="badge badge-primary badge-pill bg-danger">Info</span></p>
                        <p class="mb-1">Classroom has been locked.</p>
                    </a>
                </div>
                <div class="card-actions border-top d-flex justify-content-between align-items-center">
                    <a class="btn btn-flat-primary" href="{% url 'staff_action_logs_view' %}">View More Logs</a>
                    <span class="text-muted">Recent Actions Updated as of 12:00AM.</span>
                </div>
            </div>
        </div>
        <div class="dashboard-item col mb-auto">
            <div class="card">
                <div class="card-header border-0">
                    <h2 class="card-title">Classroom Systems States</h2>
                    <h3 class="card-subtitle text-black-secondary">Check classrooms operational status. Click them for more information.</h3>
                </div>
                <ul class="nav nav-justified nav-tabs" id="justifiedTab" role="tablist">
                    <li class="nav-item">
                        <a aria-controls="home" aria-selected="true" class="nav-link active" data-toggle="tab"
                            href="#home" id="home-tab" role="tab">Device Online</a>
                    </li>
                    <li class="nav-item">
                        <a aria-controls="profile" aria-selected="false" class="nav-link" data-toggle="tab"
                            href="#profile" id="profile-tab" role="tab">Device Offline</a>
                    </li>
                </ul>
                <div class="tab-content" id="justifiedTabContent">
                    <div aria-labelledby="home-tab" class="tab-pane fade show active" id="home" role="tabpanel">
                        <div class="card-body list-group border-0" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action active d-flex justify-content-between align-items-center"
                                id="list-home-list" data-toggle="list" href="#list-home" role="tab"
                                aria-controls="home">Home
                                <span class="badge badge-primary badge-pill">Current</span></a>
                            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                                id="list-profile-list" data-toggle="list" href="#list-profile" role="tab"
                                aria-controls="profile">Profile<span
                                    class="badge badge-primary badge-pill">Next</span></a>
                            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                                id="list-messages-list" data-toggle="list" href="#list-messages" role="tab"
                                aria-controls="messages">Messages</a>
                            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                                id="list-settings-list" data-toggle="list" href="#list-settings" role="tab"
                                aria-controls="settings">Settings</a>
                        </div>
                    </div>
                    <div aria-labelledby="profile-tab" class="tab-pane fade" id="profile" role="tabpanel">
                        <div class="card-body list-group border-0" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action active d-flex justify-content-between align-items-center"
                                id="list-home-list" data-toggle="list" href="#list-home" role="tab"
                                aria-controls="home">Home
                                <span class="badge badge-primary badge-pill">Current</span></a>
                            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                                id="list-profile-list" data-toggle="list" href="#list-profile" role="tab"
                                aria-controls="profile">Profile<span
                                    class="badge badge-primary badge-pill">Next</span></a>
                            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                                id="list-messages-list" data-toggle="list" href="#list-messages" role="tab"
                                aria-controls="messages">Messages</a>
                            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                                id="list-settings-list" data-toggle="list" href="#list-settings" role="tab"
                                aria-controls="settings">Settings</a>
                        </div>
                    </div>
                    <div aria-labelledby="contact-tab" class="tab-pane fade" id="contact" role="tabpanel">
                        <div class="card-body list-group border-0" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action active d-flex justify-content-between align-items-center"
                                id="list-home-list" data-toggle="list" href="#list-home" role="tab"
                                aria-controls="home">Home
                                <span class="badge badge-primary badge-pill">Current</span></a>
                            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                                id="list-profile-list" data-toggle="list" href="#list-profile" role="tab"
                                aria-controls="profile">Profile<span
                                    class="badge badge-primary badge-pill">Next</span></a>
                            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                                id="list-messages-list" data-toggle="list" href="#list-messages" role="tab"
                                aria-controls="messages">Messages</a>
                            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                                id="list-settings-list" data-toggle="list" href="#list-settings" role="tab"
                                aria-controls="settings">Settings</a>
                        </div>
                    </div>
                </div>
                <div class="card-actions border-0 d-flex justify-content-between align-items-center">
                    <span class="text-muted">All devices is manageable when navigated through their classroom assignment.</span>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>