<div class="container content-offset">
    {% if current_view == "ClassroomView" %}
    <div class="schedule-item col mb-auto">
        <div class="card bg-danger">
            <div class="card-header border-0 text-white-primary">
                <h1 class="card-title">Hey! Classrooms are all displayed!</h1>
            </div>
            <div class="card-body text-white">
                <p>Why? Because you might want to manage them.
                </p>
            </div>
        </div>
    </div>
    {% elif current_view == "StaffActionsListView" %}
    <div class="log-item col mb-auto">
        <div class="card bg-warning">
            <div class="card-header border-0 text-white-primary">
                <h1 class="card-title">Logs Are Displayed Exclusively from Your Actions.</h1>
            </div>
            <div class="card-body text-white">
                <p>You cannot see other professors or staffs activity from one of the classrooms that you recently
                    interacted with. With that, your actions won't be made public or from any other professors. We have
                    you covered, so don't worry about leaks.
                </p>
            </div>
        </div>
    </div>
    {% elif current_view == "ScheduleListView" %}
    <div class="schedule-item col mb-auto">
        <div class="card bg-info">
            <div class="card-header border-0 text-white-primary">
                <h1 class="card-title">Hey! Your Schedules are seperated accordingly!</h1>
            </div>
            <div class="card-body text-white">
                <p>We displayed your schedules by disabling and enabling them based from your schedule day scope. We
                    have to make things clear that you cannot modify or forcefully enable some
                    rooms that is out of scope based from your schedule. But you can still have information about it.
                </p>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="seperate-section">
        <ul class="nav nav-justified nav-tabs tab-card-filter" id="justifiedTab" role="tablist">
            {% if current_view == "ClassroomView" %}
            <li class="nav-item">
                <a aria-selected="false" class="nav-link active" data-toggle="tab" data-filter="*" href="javascript:void(0)" role="tab">All</a>
            </li>
            <li class="nav-item">
                <a aria-selected="true" class="nav-link" data-toggle="tab" data-filter=".sys-operational" href="javascript:void(0)" role="tab">Operational</a>
            </li>
            <li class="nav-item">
                <a aria-selected="false" class="nav-link" data-toggle="tab" data-filter=".sys-opened" href="javascript:void(0)" role="tab">Opened</a>
            </li>
            <li class="nav-item">
                <a aria-selected="false" class="nav-link" data-toggle="tab" data-filter=".sys-closed" href="javascript:void(0)" role="tab">Closed</a>
            </li>
            <li class="nav-item">
                <a aria-selected="false" class="nav-link" data-toggle="tab" data-filter=".sys-disabled" href="javascript:void(0)" role="tab">Non-Operational</a>
            </li>
            {% elif current_view == "StaffActionsListView" %}
            <li class="nav-item">
                <a aria-selected="false" class="nav-link active" data-toggle="tab" data-filter="*" href="javascript:void(0)" role="tab">All</a>
            </li>
            <li class="nav-item">
                <a aria-selected="false" class="nav-link" data-toggle="tab" data-filter=".Info" href="javascript:void(0)" role="tab">Info</a>
            </li>
            <li class="nav-item">
                <a aria-selected="true" class="nav-link" data-toggle="tab" data-filter=".Warning" href="javascript:void(0)" role="tab">Warning</a>
            </li>
            <li class="nav-item">
                <a aria-selected="false" class="nav-link" data-toggle="tab" data-filter=".Danger" href="javascript:void(0)" role="tab">Danger</a>
            </li>
            <li class="nav-item">
                <a aria-selected="false" class="nav-link" data-toggle="tab" data-filter=".Alert" href="javascript:void(0)" role="tab">Alert</a>
            </li>
            {% elif current_view == "ScheduleListView" %}
            <li class="nav-item">
                <a aria-selected="false" class="nav-link active" data-toggle="tab" data-filter="*" data-sort-by=".timestart" href="javascript:void(0)" role="tab">All</a>
            </li>
            <li class="nav-item">
                <a aria-selected="true" class="nav-link" data-toggle="tab" data-filter=".room-allowed" data-sort-by=".timestart" href="javascript:void(0)" role="tab">On Schedule</a>
            </li>
            <li class="nav-item">
                <a aria-selected="false" class="nav-link" data-toggle="tab" data-filter=".not-allowed" data-sort-by=".timestart" href="javascript:void(0)" role="tab">Not Allowed</a>
            </li>
            {% endif %}
        </ul>
    </div>
    {% if current_view == "ClassroomView" %}

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 schedule-grid">
        <div class="schedule-item col mb-auto sys-operational">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Technological Miniature Room</h2>
                    <h3 class="card-subtitle text-black-secondary">Room is Q-5424</h3>
                    <li class="card-text text-black-secondary">This classroom has recorded at least 69 actions.</li>
                </div>
                <div class="card-actions d-flex justify-content-between align-items-center">
                    <a class="card-link" href="../classroom/1/control/">Actions</a>
                    <span class="badge badge-primary badge-pill bg-success">Operational</span>
                </div>
            </div>
        </div>
        <div class="schedule-item col mb-auto sys-disabled">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Technological Miniature Room</h2>
                    <h3 class="card-subtitle text-black-secondary">Room is Q-5424</h3>

                    <li class="card-text text-black-secondary">This classroom has recorded at least 69 actions.</li>
                </div>
                <div class="card-actions d-flex justify-content-between align-items-center">
                    <a class="card-link" href="../classroom/1/control/">Actions</a>
                    <span class="badge badge-primary badge-pill bg-danger">Disabled</span>
                </div>
            </div>
        </div>
        <div class="schedule-item col mb-auto sys-failed">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Technological Miniature Room</h2>
                    <h3 class="card-subtitle text-black-secondary">Room is Q-5424</h3>

                    <li class="card-text text-black-secondary">This classroom has recorded at least 69 actions.</li>
                </div>
                <div class="card-actions d-flex justify-content-between align-items-center">
                    <a class="card-link" href="../classroom/1/control/">Actions</a>
                    <span class="badge badge-primary badge-pill bg-danger">Failed</span>
                </div>
            </div>
        </div>
    </div>
    {% elif current_view == "StaffActionsListView" %}
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 log-grid">
        <div class="log-item col mb-auto Danger">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">CPE 013 | Embedded Systems</h2>
                    <h3 class="card-subtitle text-black-secondary">Q-5424 | CPE22FA1 | Lab</h3>
                    <span class="card-texttext-black-secondary">Classroom Opened.</span>
                </div>
                <div class="card-actions d-flex justify-content-between align-items-center">
                    <span class="badge badge-primary badge-pill bg-danger">Danger</span>
                    <span class="text-muted">Happened at 8:59AM in 02/20/2020</span>
                </div>
            </div>
        </div>
        <div class="log-item col mb-auto Warning">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">CPE 013 | Embedded Systems</h2>
                    <h3 class="card-subtitle text-black-secondary">Q-5424 | CPE22FA1 | Lab</h3>
                    <span class="card-texttext-black-secondary">Classroom Closed Automatically.</span>
                </div>
                <div class="card-actions d-flex justify-content-between align-items-center">
                    <span class="badge badge-primary badge-pill bg-info">Warning</span>

                    <span class="text-muted">Happened at 8:59AM in 02/20/2020</span>
                </div>
            </div>
        </div>
        <div class="log-item col mb-auto Danger">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">CPE 013 | Embedded Systems</h2>
                    <h3 class="card-subtitle text-black-secondary">Q-5424 | CPE22FA1 | Lab</h3>
                    <span class="card-texttext-black-secondary">Classroom Opened.</span>
                </div>
                <div class="card-actions d-flex justify-content-between align-items-center">
                    <span class="badge badge-primary badge-pill bg-danger">Danger</span>

                    <span class="text-muted">Happened at 8:59AM in 02/20/2020</span>
                </div>
            </div>
        </div>
        <div class="log-item col mb-auto Warning">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">CPE 013 | Embedded Systems</h2>
                    <h3 class="card-subtitle text-black-secondary">Q-5424 | CPE22FA1 | Lab</h3>
                    <span class="card-texttext-black-secondary">Classroom Closed Automatically.</span>
                </div>
                <div class="card-actions d-flex justify-content-between align-items-center">
                    <span class="badge badge-primary badge-pill bg-info">Warning</span>

                    <span class="text-muted">Happened at 8:59AM in 02/20/2020</span>
                </div>
            </div>
        </div>
    </div>
    {% elif current_view == "ScheduleListView" %}
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 schedule-grid">
        <div class="schedule-item col mb-auto room-allowed" data-category="room-allowed" data-time-start="8:30AM">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">CPE 013 | Embedded Systems</h2>
                    <h3 class="card-subtitle text-black-secondary">From 08:30AM to 11:30AM | M W F</h3>

                    <li class="card-texttext-black-secondary">Lecture Type is Lab</li>
                    <li class="card-texttext-black-secondary">Room: Q-5424</li>
                    <li class="card-texttext-black-secondary">Section: CPE22FA1</li>
                </div>
                <div class="card-actions">
                    <a class="card-link" href="../classroom/1/control/">Actions</a>
                </div>
            </div>
        </div>
        <div class="schedule-item col mb-auto not-allowed" data-category="not-allowed" data-time-start="9:30AM">
            <div class="card disabled">
                <div class="card-body">
                    <h2 class="card-title">GEE002 | IT Era</h2>
                    <h3 class="card-subtitle text-black-secondary">From 09:30AM to 11:30AM | TH Sat</h3>

                    <li class="card-texttext-black-secondary">Lecture Type is Lab</li>
                    <li class="card-texttext-black-secondary">Room: Q-5424</li>
                    <li class="card-texttext-black-secondary">Section: CPE22FA1</li>
                </div>
                <div class="card-actions d-flex justify-content-between align-items-center">
                    <a class="card-link disabled" href="#">Actions Disabled</a>
                    <span class="text-muted">Not Available Today</span>
                </div>
            </div>
        </div>
        <div class="schedule-item col mb-auto room-allowed" data-category="room-allowed" data-time-start="8:00AM">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">CPE 013 | Embedded Systems</h2>
                    <h3 class="card-subtitle text-black-secondary">From 08:00AM to 11:30AM | M W F</h3>

                    <li class="card-texttext-black-secondary">Lecture Type is Lab</li>
                    <li class="card-texttext-black-secondary">Room: Q-5424</li>
                    <li class="card-texttext-black-secondary">Section: CPE22FA1</li>
                </div>
                <div class="card-actions">
                    <a class="card-link" href="#">Actions</a>
                </div>
            </div>
        </div>
        <div class="schedule-item col mb-auto not-allowed" data-category="not-allowed" data-time-start="6:30AM">
            <div class="card disabled">
                <div class="card-body">
                    <h2 class="card-title">GEE002 | IT Era</h2>
                    <h3 class="card-subtitle text-black-secondary">From 06:30AM to 11:30AM | TH Sat</h3>

                    <li class="card-texttext-black-secondary">Lecture Type is Lab</li>
                    <li class="card-texttext-black-secondary">Room: Q-5424</li>
                    <li class="card-texttext-black-secondary">Section: CPE22FA1</li>
                </div>
                <div class="card-actions d-flex justify-content-between align-items-center">
                    <a class="card-link disabled" href="#">Actions Disabled</a>
                    <span class="text-muted">Not Available Today</span>
                </div>
            </div>
        </div>
        <div class="schedule-item col mb-auto room-allowed" data-category="room-allowed" data-day-schedule="MWF"
            data-time-start="11:30AM">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">CPE 013 | Embedded Systems</h2>
                    <h3 class="card-subtitle text-black-secondary">From 11:30AM to 11:30AM | M W F</h3>

                    <li class="card-texttext-black-secondary">Lecture Type is Lab</li>
                    <li class="card-texttext-black-secondary">Room: Q-5424</li>
                    <li class="card-texttext-black-secondary">Section: CPE22FA1</li>
                </div>
                <div class="card-actions">
                    <a class="card-link" href="#">Actions</a>
                </div>
            </div>
        </div>
        <div class="schedule-item col mb-auto not-allowed" data-category="not-allowed" data-day-schedule="TH"
            data-time-start="12:30AM">
            <div class="card disabled">
                <div class="card-body">
                    <h2 class="card-title">GEE002 | IT Era</h2>
                    <h3 class="card-subtitle text-black-secondary">From 12:30PM to 11:30AM | TH Sat</h3>

                    <li class="card-texttext-black-secondary">Lecture Type is Lab</li>
                    <li class="card-texttext-black-secondary">Room: Q-5424</li>
                    <li class="card-texttext-black-secondary">Section: CPE22FA1</li>
                </div>
                <div class="card-actions d-flex justify-content-between align-items-center">
                    <a class="card-link disabled" href="#">Actions Disabled</a>
                    <span class="text-muted">Not Available Today</span>
                </div>
            </div>
        </div>
        <div class="schedule-item col mb-auto room-allowed" data-category="room-allowed" data-day-schedule="MWF"
            data-time-start="5:30AM">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">CPE 013 | Embedded Systems</h2>
                    <h3 class="card-subtitle text-black-secondary">From 05:30AM to 11:30AM | M W F</h3>

                    <li class="card-texttext-black-secondary">Lecture Type is Lab</li>
                    <li class="card-texttext-black-secondary">Room: Q-5424</li>
                    <li class="card-texttext-black-secondary">Section: CPE22FA1</li>
                </div>
                <div class="card-actions">
                    <a class="card-link" href="#">Actions</a>
                </div>
            </div>
        </div>
        <div class="schedule-item col mb-auto not-allowed" data-category="not-allowed" data-day-schedule="Sat"
            data-time-start="2:30PM">
            <div class="card disabled">
                <div class="card-body">
                    <h2 class="card-title">GEE002 | IT Era</h2>
                    <h3 class="card-subtitle text-black-secondary">From 02:30PM to 11:30AM | S Sat</h3>

                    <li class="card-texttext-black-secondary">Lecture Type is Lab</li>
                    <li class="card-texttext-black-secondary">Room: Q-5424</li>
                    <li class="card-texttext-black-secondary">Section: CPE22FA1</li>
                </div>
                <div class="card-actions d-flex justify-content-between align-items-center">
                    <a class="card-link disabled" href="#">Actions Disabled</a>
                    <span class="text-muted">Not Available Today</span>
                </div>
            </div>
        </div>
        <div class="schedule-item col mb-auto room-allowed" data-category="room-allowed" data-day-schedule="T TH"
            data-time-start="1:30PM">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">CPE 013 | Embedded Systems</h2>
                    <h3 class="card-subtitle text-black-secondary">From 01:30PM to 11:30AM | M W F</h3>

                    <li class="card-texttext-black-secondary">Lecture Type is Lab</li>
                    <li class="card-texttext-black-secondary">Room: Q-5424</li>
                    <li class="card-texttext-black-secondary">Section: CPE22FA1</li>
                </div>
                <div class="card-actions">
                    <a class="card-link" href="#">Actions</a>
                </div>
            </div>
        </div>
        <div class="schedule-item col mb-auto not-allowed" data-category="not-allowed" data-day-schedule="Sun"
            data-time-start="07:30AM">
            <div class="card disabled">
                <div class="card-body">
                    <h2 class="card-title">GEE002 | IT Era</h2>
                    <h3 class="card-subtitle text-black-secondary">From 07:30AM to 11:30AM | TH Sat</h3>

                    <li class="card-texttext-black-secondary">Lecture Type is Lab</li>
                    <li class="card-texttext-black-secondary">Room: Q-5424</li>
                    <li class="card-texttext-black-secondary">Section: CPE22FA1</li>
                </div>
                <div class="card-actions d-flex justify-content-between align-items-center">
                    <a class="card-link disabled" href="#">Actions Disabled</a>
                    <span class="text-muted">Not Available Today</span>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>