<div class="container content-offset">
    {% if current_view == "ClassroomView" %}
    <div class="schedule-item col mb-auto">
        <div class="card bg-danger">
            <div class="card-header border-0 text-white-primary">
                <h1 class="card-title">Hey! Classrooms were all displayed!</h1>
            </div>
            <div class="card-body text-white">
                <p>Why? Because you might want to manage them. All environment data is viewable when focused at
                    particular classroom. Displaying over cards is not possible.
                </p>
            </div>
        </div>
    </div>
    {% elif current_view == "StaffActionsListView" %}
    <div class="log-item col mb-auto">
        <div class="card bg-warning">
            {% if user_class == "Project Owner" or user_class == "Project Member" or user_class == "ITSO Administrator" or user_class == "ITSO Member" %}
            <div class="card-header border-0 text-black-primary">
                <h1 class="card-title">All User Logs Are Displayed Exclusively Just For You.</h1>
            </div>
            <div class="card-body text-black">
                <p>The main reason of showing other staffs logs is to provide some more intel about particular
                    situations. Though, the real reason behind it is far more complex than what you expected.
                </p>
            </div>
            {% else %}
            <div class="card-header border-0 text-black-primary">
                <h1 class="card-title">Logs Are Displayed Exclusively from Your Actions.</h1>
            </div>
            <div class="card-body text-black">
                <p>You cannot see other professors or staffs activity from one of the classrooms that you recently
                    interacted with. With that, your actions won't be made public or from any other professors. We have
                    you covered, so don't worry about leaks.
                </p>
            </div>
            {% endif %}
        </div>
    </div>
    {% elif current_view == "ScheduleListView" %}
    <div class="schedule-item col mb-auto">
        <div class="card bg-info">
            <div class="card-header border-0 text-white-primary">
                <h1 class="card-title">Hey! Your Schedules are seperated accordingly!</h1>
            </div>
            <div class="card-body text-white">
                <p>We displayed your schedules by disabling and enabling them based from your schedule day scope. We
                    have to make things clear that you cannot modify or forcefully enable some
                    rooms that is out of scope based from your schedule. But you can still have information about it.
                </p>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="seperate-section">
        <div class="form-group">
            <div class="floating-label textfield-box">
                <label for="FilterSearchBox">Filter Search by Card Name</label>
                <input class="form-control" id="FilterSearchBox" placeholder="Search Data..." type="text">
            </div>
        </div>

        <ul class="nav nav-justified nav-tabs tab-card-filter" id="justifiedTab" role="tablist">
            {% if current_view == "ClassroomView" %}
            <li class="nav-item">
                <a aria-selected="false" class="nav-link active" data-toggle="tab" data-filter="*"
                    href="javascript:void(0)" role="tab">All</a>
            </li>
            <li class="nav-item">
                <a aria-selected="true" class="nav-link" data-toggle="tab" data-filter=".sys-in-use"
                    href="javascript:void(0)" role="tab">In-Use</a>
            </li>
            <li class="nav-item">
                <a aria-selected="false" class="nav-link" data-toggle="tab" data-filter=".sys-unlocked"
                    href="javascript:void(0)" role="tab">Unlocked</a>
            </li>
            <li class="nav-item">
                <a aria-selected="false" class="nav-link" data-toggle="tab" data-filter=".sys-locked"
                    href="javascript:void(0)" role="tab">Locked</a>
            </li>
            {% elif current_view == "StaffActionsListView" %}
            <li class="nav-item">
                <a aria-selected="false" class="nav-link active" data-toggle="tab" data-filter="*"
                    href="javascript:void(0)" role="tab">All</a>
            </li>
            <li class="nav-item">
                <a aria-selected="false" class="nav-link" data-toggle="tab" data-filter=".info"
                    href="javascript:void(0)" role="tab">Info</a>
            </li>
            <li class="nav-item">
                <a aria-selected="true" class="nav-link" data-toggle="tab" data-filter=".warning"
                    href="javascript:void(0)" role="tab">Warning</a>
            </li>
            <li class="nav-item">
                <a aria-selected="false" class="nav-link" data-toggle="tab" data-filter=".alert"
                    href="javascript:void(0)" role="tab">Alert</a>
            </li>
            {% elif current_view == "ScheduleListView" %}
            <li class="nav-item">
                <a aria-selected="false" class="nav-link active" data-toggle="tab" data-filter="*" href="javascript:void(0)" role="tab">All</a>
            </li>
            <li class="nav-item">
                <a aria-selected="true" class="nav-link" data-toggle="tab" data-filter=".room-allowed" href="javascript:void(0)" role="tab">On-Today Schedule</a>
            </li>
            <li class="nav-item">
                <a aria-selected="false" class="nav-link" data-toggle="tab" data-filter=".room-not-allowed" href="javascript:void(0)" role="tab">Outside Schedule</a>
            </li>
            {% endif %}
        </ul>
    </div>
    {% if current_view == "ClassroomView" %}

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 schedule-grid">
        {% for Classroom in object_list %}
        <div class="schedule-item col mb-auto sys-{{ Classroom.Classroom_State|lower }}">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{{ Classroom.Classroom_Name }}</h2>
                    <h3 class="card-subtitle text-black-secondary">Room {{ Classroom.Classroom_CompleteString }} </h3>
                    <span class="card-text text-black-secondary">This classroom is currently associated with the device
                        '{{ Classroom.Classroom_Dev }}' that is currently in {{ Classroom.Classroom_Dev.Device_Status }}
                        State.</span>
                </div>
                <div class="card-actions d-flex justify-content-between align-items-center">
                    <a class="card-link {% if Classroom.Classroom_State == 'Locked' %}disabled{% endif %}"
                        href="{% if Classroom.Classroom_State == 'Locked' %}#{% else %}{% url 'classroom_info_view' classUniqueID=Classroom.Classroom_Unique_ID %}{% endif %}">Actions</a>
                    <span
                        class="badge badge-primary badge-pill bg-{{ Classroom.Classroom_State|lower }}">{{ Classroom.Classroom_State }}</span>
                </div>
            </div>
        </div>
        {% endfor %}
        {% elif current_view == "StaffActionsListView" %}
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 log-grid">
            {% for ClassroomActionLog in object_list %}
            <div class="log-item col mb-auto {{ ClassroomActionLog.ActionLevel|lower }}">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">
                            {{ ClassroomActionLog.Course_Reference.CourseSchedule_CourseReference.Course_Code }} |
                            {{ ClassroomActionLog.Course_Reference.CourseSchedule_CourseReference.Course_Name }}</h2>
                        <h3 class="card-subtitle text-black-secondary">
                            {{ ClassroomActionLog.Course_Reference.CourseSchedule_Room.Classroom_CompleteString }} |
                            {{ ClassroomActionLog.Course_Reference.CourseSchedule_Section.Section_CompleteStringGroup }}
                            | {{ ClassroomActionLog.Course_Reference.CourseSchedule_Session_Start }} —
                            {{ ClassroomActionLog.Course_Reference.CourseSchedule_Session_End }} |
                            {{ ClassroomActionLog.Course_Reference.CourseSchedule_Lecture_Day }}</h3>
                        <span class="card-texttext-black-secondary">{{ ClassroomActionLog.UserActionTaken }}</span>
                    </div>
                    <div class="card-actions d-flex justify-content-between align-items-center">
                        <span
                            class="badge badge-primary badge-pill bg-{{ ClassroomActionLog.ActionLevel|lower }}">{{ ClassroomActionLog.ActionLevel }}</span>
                        <span class="text-muted">Happened at {{ ClassroomActionLog.TimeRecorded }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% elif current_view == "ScheduleListView" %}
            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 schedule-grid">
                {% for ScheduleCandidates in object_list %}
                <div class="schedule-item col mb-auto room-{% if ScheduleCandidates.CourseSchedule_Lecture_Day == schedule_weekday_name %}allowed{% else %}not-allowed{% endif %} ">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">{{ ScheduleCandidates.CourseSchedule_CourseReference.Course_Code }} |
                                {{ ScheduleCandidates.CourseSchedule_CourseReference.Course_Name }}</h2>
                            <h3 class="card-subtitle text-black-secondary">From
                                {{ ScheduleCandidates.CourseSchedule_Session_Start }} —
                                {{ ScheduleCandidates.CourseSchedule_Session_End }} |
                                {{ ScheduleCandidates.CourseSchedule_Lecture_Day }}</h3>

                            <li class="card-texttext-black-secondary">Lecture Type:
                                {{ ScheduleCandidates.CourseSchedule_Room.Course_Type }}</li>
                            <li class="card-texttext-black-secondary">Room:
                                {{ ScheduleCandidates.CourseSchedule_Room.Classroom_CompleteString }}</li>
                            <li class="card-texttext-black-secondary">Section:
                                {{ ScheduleCandidates.CourseSchedule_Section.Section_CompleteStringGroup }}</li>
                        </div>
                        <div class="card-actions d-flex justify-content-between align-items-center">
                            <a class="card-link {% if ScheduleCandidates.CourseSchedule_Room.Classroom_State == 'Locked' %}disabled{% endif %}"
                                href="{% if ScheduleCandidates.CourseSchedule_Room.Classroom_State == 'Locked' %}#{% else %}{% url 'classroom_info_view' classUniqueID=ScheduleCandidates.CourseSchedule_Room.Classroom_Unique_ID %}{% endif %}">Actions</a>
                            <span
                                class="badge badge-primary badge-pill bg-{{ ScheduleCandidates.CourseSchedule_Room.Classroom_State|lower }}">{{ ScheduleCandidates.CourseSchedule_Room.Classroom_State }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>