<div class="container content-offset">
    {% if current_view == "ClassroomView" %}
    <div class="schedule-item col mb-auto" data-sal="fade" data-sal-duration="300" data-sal-easing="easeOutQuart">
        <div class="card bg-danger">
            <div class="card-header border-0 text-white-primary">
                <h1 class="card-title">Hey! Classrooms were all displayed!</h1>
            </div>
            <div class="card-body text-white">
                <p>Why? Because you might want to manage them. All environment data is viewable when focused at
                    particular classroom. Displaying over cards is not possible.
                </p>
            </div>
        </div>
    </div>
    {% elif current_view == "StaffActionsListView" %}
    <div class="log-item col mb-auto" data-sal="fade" data-sal-duration="300" data-sal-easing="easeOutQuart">
        <div class="card bg-warning">
            {% if not user_class == "Professor" %}
            <div class="card-header border-0 text-black-primary">
                <h1 class="card-title">All User Logs Are Displayed Exclusively Just For You.</h1>
            </div>
            <div class="card-body text-black">
                <p>The main reason of showing other staffs logs is to provide some more intel about particular
                    situations. Though, the real reason behind it is far more complex than what you expected.
                </p>
            </div>
            {% else %}
            <div class="card-header border-0 text-black-primary">
                <h1 class="card-title">Logs Are Displayed Exclusively from Your Actions.</h1>
            </div>
            <div class="card-body text-black">
                <p>You cannot see other professors or staffs activity from one of the classrooms that you recently
                    interacted with. With that, your actions won't be made public or from any other professors. We have
                    you covered, so don't worry about leaks.
                </p>
            </div>
            {% endif %}
        </div>
    </div>
    {% elif current_view == "ScheduleListView" %}
    <div class="schedule-item col mb-auto" data-sal="fade" data-sal-duration="300" data-sal-easing="easeOutQuart">
        <div class="card bg-warning">
            <div class="card-header border-0 text-white-primary">
                <h1 class="card-title">Hey! Your Schedules are diplayed! But sorted accordingly by time, not by days!</h1>
            </div>
            <div class="card-body text-white">
                <p>We displayed your schedules by disabling and enabling them based from your schedule day scope. We
                    have to make things clear that you cannot modify or forcefully enable some
                    rooms that is out of scope based from your schedule. But you can still have information on the outside.
                </p>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="seperate-section" data-sal="fade" data-sal-duration="300" data-sal-easing="easeOutQuart">
        <div class="form-group">
            <div class="floating-label textfield-box">
                <label for="FilterSearchBox">Exact Filter Search by Card Header</label>
                <input class="form-control filter-card-elements" id="FilterSearchBox" placeholder="Search Data Exactly by Card Name." type="text">
                <small id="exampleFloatingLabel1Help" class="form-text text-muted">The search doesn't have predictions on package. It needs<code>very exact</code>names to match some cards.</small>
            </div>
        </div>

        <ul class="nav nav-justified nav-tabs tab-card-filter" id="justifiedTab" role="tablist">
            {% if current_view == "ClassroomView" %}
            <li class="nav-item">
                <a aria-selected="false" class="nav-link active" data-toggle="tab" data-filter="*"
                    href="javascript:void(0)" role="tab">All</a>
            </li>
            <li class="nav-item">
                <a aria-selected="false" class="nav-link" data-toggle="tab" data-filter=".sys-unlocked"
                    href="javascript:void(0)" role="tab">Unlocked</a>
            </li>
            <li class="nav-item">
                <a aria-selected="false" class="nav-link" data-toggle="tab" data-filter=".sys-locked"
                    href="javascript:void(0)" role="tab">Locked</a>
            </li>
            <li class="nav-item">
                <a aria-selected="false" class="nav-link" data-toggle="tab" data-filter=".sys-offline"
                    href="javascript:void(0)" role="tab">Offline</a>
            </li>
            {% elif current_view == "StaffActionsListView" %}
            <li class="nav-item">
                <a aria-selected="false" class="nav-link active" data-toggle="tab" data-filter="*"
                    href="javascript:void(0)" role="tab">All</a>
            </li>
            <li class="nav-item">
                <a aria-selected="false" class="nav-link" data-toggle="tab" data-filter=".info-log"
                    href="javascript:void(0)" role="tab">Info</a>
            </li>
            <li class="nav-item">
                <a aria-selected="true" class="nav-link" data-toggle="tab" data-filter=".warning-log"
                    href="javascript:void(0)" role="tab">Warning</a>
            </li>
            <li class="nav-item">
                <a aria-selected="false" class="nav-link" data-toggle="tab" data-filter=".alert-log"
                    href="javascript:void(0)" role="tab">Alert</a>
            </li>
            {% elif current_view == "ScheduleListView" %}
            <li class="nav-item">
                <a aria-selected="false" class="nav-link active" data-toggle="tab" data-filter="*" href="javascript:void(0)" role="tab">All</a>
            </li>
            <li class="nav-item">
                <a aria-selected="true" class="nav-link" data-toggle="tab" data-filter=".room-allowed" href="javascript:void(0)" role="tab">On-Today Schedule</a>
            </li>
            <li class="nav-item">
                <a aria-selected="false" class="nav-link" data-toggle="tab" data-filter=".room-not-allowed" href="javascript:void(0)" role="tab">Outside Schedule</a>
            </li>
            {% endif %}
        </ul>
    </div>
    {% if current_view == "ClassroomView" %}

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 schedule-grid" data-sal="fade" data-sal-duration="300" data-sal-easing="easeOutQuart">
        {% for Classroom in object_list %}
        <div class="schedule-item col mb-auto sys-{% if Classroom.Classroom_Dev.Device_Status == 'Online' %}{{ Classroom.Classroom_State|lower }}{% else %}offline{% endif %}">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{{ Classroom.Classroom_Name }}</h2>
                    <h3 class="card-subtitle text-black-secondary">Room {{ Classroom.Classroom_CompleteString }} </h3>
                    <span class="card-text text-black-secondary">This classroom is currently associated with the device
                        '{{ Classroom.Classroom_Dev }}'.</span>
                </div>
                <div class="card-actions d-flex justify-content-between align-items-center">
                    <a class="card-link"
                        href="{% url 'classroom_info_view' classUniqueID=Classroom.Classroom_Unique_ID %}">Actions</a>
                    <span class="badge badge-primary badge-pill bg-{% if Classroom.Classroom_Dev.Device_Status == 'Online' %}{{ Classroom.Classroom_State|lower }}{% else %}offline{% endif %}">{% if Classroom.Classroom_Dev.Device_Status == 'Online' %} Currently {{ Classroom.Classroom_State }}{% else %}{{ Classroom.Classroom_Dev.Device_Status }}{% endif %}</span>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="schedule-item col mb-auto sys-offline" data-sal="fade" data-sal-duration="300" data-sal-easing="easeOutQuart">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">No Classrooms Declared!</h2>
                    <h3 class="card-subtitle text-black-secondary">Room Non-Existent</h3>
                    <span class="card-text text-black-secondary">The system must been reset to a factory settings. Start by setting them up at Control Override!</span>
                </div>
                <div class="card-actions d-flex justify-content-between align-items-center">
                    <a class="card-link disabled"
                        href="javascript:void(0)">Actions</a>
                    <span class="badge badge-primary badge-pill bg-offline">Currently Unknown</span>
                </div>
            </div>
        </div>
        {% endfor %}
        {% elif current_view == "StaffActionsListView" %}
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 log-grid" data-sal="fade" data-sal-duration="300" data-sal-easing="easeOutQuart">
            {% for ClassroomActionLog in object_list %}
            <div class="log-item col mb-auto {{ ClassroomActionLog.ActionLevel|lower }}-log">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">{{ ClassroomActionLog.Course_Reference.CourseSchedule_CourseReference.Course_Code }} | {{ ClassroomActionLog.Course_Reference.CourseSchedule_CourseReference.Course_Name }}</h2>
                        <h3 class="card-subtitle text-black-secondary">
                            {{ ClassroomActionLog.Course_Reference.CourseSchedule_Room.Classroom_CompleteString }} |
                            {% if ClassroomActionLog.Course_Reference.CourseSchedule_Section.Section_CompleteStringGroup %}{{ ClassroomActionLog.Course_Reference.CourseSchedule_Section.Section_CompleteStringGroup }}{% else %}Unknown{% endif %}
                            | {{ ClassroomActionLog.Course_Reference.CourseSchedule_Session_Start }} —
                            {{ ClassroomActionLog.Course_Reference.CourseSchedule_Session_End }} |
                            {{ ClassroomActionLog.Course_Reference.CourseSchedule_Lecture_Day }}</h3>
                        <span class="card-text text-black-primary">{{ ClassroomActionLog.UserActionTaken }} | Action was Associated to {% if user_class == "Professor" %}{{ ClassroomActionLog.Course_Reference.CourseSchedule_Instructor.first_name }} {{ ClassroomActionLog.Course_Reference.CourseSchedule_Instructor.middle_name|default_if_none:"" }} {{ ClassroomActionLog.Course_Reference.CourseSchedule_Instructor.last_name }}{% else %}an Administrator / Staff.{% endif %}</span>
                    </div>
                    <div class="card-actions d-flex justify-content-between align-items-center">
                        <span
                            class="badge badge-primary badge-pill bg-{{ ClassroomActionLog.ActionLevel|lower }}">{{ ClassroomActionLog.ActionLevel }}</span>
                        <span class="text-muted">Happened at {{ ClassroomActionLog.TimeRecorded }}</span>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="log-item col mb-auto {{ ClassroomActionLog.ActionLevel|lower }}-log" data-sal="fade" data-sal-duration="300" data-sal-easing="easeOutQuart">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">You have no recent logs!</h2>
                        <h3 class="card-subtitle text-black-secondary">
                            Unknown Room | Unknown Section | N/A — N/A | N/A Day</h3>
                        <span class="card-text text-black-primary">You must be a new professor! Start filling up your logs by trying to lock your current scheduled room! | Action was Associated to Nobody.</span>
                    </div>
                    <div class="card-actions d-flex justify-content-between align-items-center">
                        <span
                            class="badge badge-primary badge-pill bg-offline">Unidentified Level</span>
                        <span class="text-muted">Happened at Non-Existent Time</span>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% elif current_view == "ScheduleListView" %}
            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 schedule-grid" data-sal="fade" data-sal-duration="300" data-sal-easing="easeOutQuart">
                {% for ScheduleCandidates in object_list %}
                <div class="schedule-item col mb-auto room-{% if ScheduleCandidates.CourseSchedule_Lecture_Day == schedule_weekday_name %}allowed{% else %}not-allowed{% endif %} ">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">{{ ScheduleCandidates.CourseSchedule_CourseReference.Course_Code }} | {{ ScheduleCandidates.CourseSchedule_CourseReference.Course_Name }}</h2>
                            <h3 class="card-subtitle text-black-secondary">From
                                {{ ScheduleCandidates.CourseSchedule_Session_Start }} —
                                {{ ScheduleCandidates.CourseSchedule_Session_End }} |
                                {{ ScheduleCandidates.CourseSchedule_Lecture_Day }}</h3>

                            <li class="card-texttext-black-secondary">Lecture Type: {{ ScheduleCandidates.CourseSchedule_CourseReference.Course_Type }}</li>
                            <li class="card-texttext-black-secondary">Room:
                                {{ ScheduleCandidates.CourseSchedule_Room.Classroom_CompleteString }}</li>
                            <li class="card-texttext-black-secondary">Section:
                                {{ ScheduleCandidates.CourseSchedule_Section.Section_CompleteStringGroup }}</li>
                        </div>
                        <div class="card-actions d-flex justify-content-between align-items-center">
                            <a class="card-link {% if ScheduleCandidates.CourseSchedule_Room.Classroom_Dev.Device_Status != 'Online' or ScheduleCandidates.CourseSchedule_Lecture_Day != schedule_weekday_name or ScheduleCandidates.CourseSchedule_Availability != 'Available' %}disabled{% endif %}"
                                href="{% if ScheduleCandidates.CourseSchedule_Room.Classroom_Dev.Device_Status != 'Online' or ScheduleCandidates.CourseSchedule_Availability != 'Available' %}#{% else %}{% url 'classroom_info_view' classUniqueID=ScheduleCandidates.CourseSchedule_Room.Classroom_Unique_ID %}{% endif %}">Actions</a>
                            <span class="badge badge-primary badge-pill bg-{% if ScheduleCandidates.CourseSchedule_Room.Classroom_Dev.Device_Status == 'Online' %}{{ ScheduleCandidates.CourseSchedule_Room.Classroom_State|lower }}{% else %}offline{% endif %}">{% if ScheduleCandidates.CourseSchedule_Room.Classroom_Dev.Device_Status == 'Online' %}{{ ScheduleCandidates.CourseSchedule_Room.Classroom_State }} | {% if ScheduleCandidates.CourseSchedule_Lecture_Day != schedule_weekday_name %}Not Available Today{% else %}{% if ScheduleCandidates.CourseSchedule_Availability != 'Available' %}{% if current_session_time > ScheduleCandidates.CourseSchedule_Session_End %}Session Finished{% else %}Available Later{% endif %}{% else %}Available Now.{% endif %}{% endif %}{% else %}{{ ScheduleCandidates.CourseSchedule_Room.Classroom_Dev.Device_Status }}{% endif %}</span>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="schedule-item col mb-auto room-not-allowed" data-sal="fade" data-sal-duration="300" data-sal-easing="easeOutQuart">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">UNKN | No Course Meta Data</h2>
                            <h3 class="card-subtitle text-black-secondary">From
                                N/A —
                                N/A |
                                Unknown Day</h3>

                            <li class="card-texttext-black-secondary">You have no schedule!? This might be a problem. Please contact the administrator regarding this issue!!!</li>
                        </div>
                        <div class="card-actions d-flex justify-content-between align-items-center">
                            <a class="card-link disabled"
                                href="javascript:void(0)">Actions</a>
                            <span class="badge badge-primary badge-pill bg-offline">Currently Unknown</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>