<div class="container content-offset">
    <div class="row row-cols-lg-2 row-cols-md-1 row-cols-sm-1 auth-grid">
        <div class="row">
            {% if messages %}
            {% for message in messages %}
            {% if message.message == "UserAlreadyLoggedOut" %}
            <div class="auth-item col mb-auto">
                <div class="card bg-danger">
                    <div class="card-body text-white">
                        <h2 class="card-title text-white">You have logged out already!</h2>
                        <h3 class="card-subtitle text-white">Did you just tried logging out by putting '/logout/' in
                            URL!?
                        </h3>
                        <p class="card-text text-white">You seem to be refreshing the page. You're already logged out
                            now,
                            so don't worry.</p>
                    </div>
                </div>
            </div>
            {% elif message.message == "UserLoggedOut" %}
            <div class="auth-item col mb-auto">
                <div class="card bg-info">
                    <div class="card-body text-white">
                        <h2 class="card-title text-white">You've been logout!</h2>
                        <h3 class="card-subtitle text-white">Thank you for using our service and see you soon!</h3>
                        <p class="card-text text-white">Your account session has been expired or you've been logout by
                            someone or by yourself.</p>
                    </div>
                </div>
            </div>
            {% elif message.message == "PermissionAccessDenied" %}
            <div class="auth-item col mb-auto">
                <div class="card bg-info">
                    <div class="card-body text-white">
                        <h2 class="card-title text-white">Permission Access Denied!</h2>
                        <h3 class="card-subtitle text-white">You're not obligated to check this area!</h3>
                        <p class="card-text text-white">We suspect that you're not logged on. Please login an account
                            with
                            the right priviledges..</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% if form.non_field_errors %}
            <div class="auth-item col mb-auto">
                <div class="card bg-danger">
                    <div class="card-body text-white">
                        <h2 class="card-title text-white">Validation Error!</h2>
                        <h3 class="card-subtitle text-white">There's something wrong.</h3>
                        <p class="card-text text-white">Your account does not exist or your credentials are mismatched.
                            Please try again.</p>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="auth-item col mb-auto">
                <div class="card">
                    <div class="card-header border-0">
                        <h2 class="card-title">Unauthorized Access</h2>
                        <h3 class="card-subtitle text-black-secondary">Hello there! Please enter your credentials to continue.</h3>
                    </div>
                    <div class="card-body card-form-action">
                        <form enctype="multipart/form-data" method="POST" autocomplete="off">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="floating-label textfield-box">
                                    <label for="validationUsername">Username</label>
                                    {{ form.username }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="floating-label textfield-box">
                                    <label for="validationPassword">Password</label>
                                    {{ form.password }}
                                </div>
                            </div>
                            <div class="card-actions">
                                <button class="btn btn-flat-primary" type="submit">Login</button>
                                <button type="button" class="btn btn-flat-primary auth-clear-entry">Clear Credentials</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>