<!-- ! Element Instance Viewer by Janrey "CodexLink" Licas -->
<!-- * This is basically a Content Generator. We're trying to achieve DRY principles here. We'll keep using this template here -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include "header.html" with instance_formal_name=title_view %}
</head>

<!-- ! Content Starts Here -->
{% if ClassInstance == "AuthUserView" %}
<body class="log-backfill" style="background-image: url({% static 'rsrc/2ndLayerTriangleVector_ReEdited_Opacity.png' %})"></body>
{% elif ClassInstance == "DeauthUserView" %}
<body class="log-backfill" style="background-image: url({% static 'rsrc/2ndLayerTriangleVector_DarkMode_N100.png' %})"></body>
{% else %}
<body>
{% endif %}

    <!-- ! Multiple Instance Content Here -->
    {% if ClassInstance == "HomeView" %}
        {% include "nav.html" with inst_title=title_view %}
        {% include "home.html" %}

    {% elif ClassInstance == "DashboardView" %}
        {% include "nav.html" with inst_title=title_view requireSideNav=True user_session_name=user_instance_name user_type=user_class %}
        {% include "dashboard.html" with username=user_instance_name user_role=user_class %}

    {% elif ClassInstance == "ClassroomView" or ClassInstance == "StaffActionsListView" or ClassInstance == "ScheduleListView" %}
        {% include "nav.html" with inst_title=title_view requireSideNav=True user_session_name=user_instance_name user_type=user_class %}
        {% include "instance_listviewer.html" with current_view=ClassInstance %}

    {% elif ClassInstance == "SelectableClassroomView" %}
        {% include "nav.html" with inst_title=title_view requireSideNav=True user_session_name=user_instance_name user_type=user_class %}
        {% include "classroom_control.html" with isUserFullCtrl=False %}

    {% elif ClassInstance == "AuthUserView" %}
        {% include "nav.html" with inst_title=title_view %}
        {% include "login.html" %}

    {% elif ClassInstance == "DeauthUserView" %}
        {% include "nav.html" with inst_title=title_view %}
        {% include "login.html" with isActionLogout=True %}

    {% else %}
        {% include "nav.html" with inst_title=title_view requireSideNav=True user_session_name=user_instance_name user_type=user_class %}
        {% include "404.html" %}
    {% endif %}

    {% include "modals.html" with user_role=page_type %}
    {% include "footer.html" %}
</body>
    <!-- ! Content Ends Here -->

</html>