<!-- ! Element Instance Viewer by Janrey "CodexLink" Licas -->
<!-- * This is basically a Content Generator. We're trying to achieve DRY principles here. We'll keep using this template here -->
<!DOCTYPE html>
<html lang="en">

<head>
    {% include "header.html" with tab_title=page_title %}
</head>

<!-- ! Content Starts Here -->

<body>
    {% include "nav.html" with tab_title=page_title requireSideNav=True page_action=page_type %}

    <div class="container" style="padding: 80px 0">
        <!-- ! Multiple Instance Content Here -->
        {% if InstanceCaller == "HomeView" %}
            {% include "home.html" %}
        {% elif InstanceCaller == "DashboardView" %}
            {% include "dashboard.html" with username=user_name user_role=page_type %}
        {% elif InstanceCaller == "ClassroomView" %}
            {% include "classrooms.html" %}
        {% elif InstanceCaller == "SelectableClassroomView" %}
            {% include "classrooms.html" %}
        {% elif InstanceCaller == "ScheduleListView" %}
            {% include "user_schedule.html" %}
        {% elif InstanceCaller == "OverrideControlView" %}
            {% include "override_control.html" %}
        {% elif InstanceCaller == "SystemSettingsView" %}
            {% include "sys_settings.html" %}
        {% else %}
            {% include "404.html" %}
        {% endif %}
    </div>

    {% include "modals.html" with user_role=page_type %}
    {% include "footer.html" %}
</body>
<!-- ! Content Ends Here -->

</html>