name: Coveralls.IO / Coverage Worker

# ! Just ensure that no matter what parts of codebase are changed.
## Continue to Execute This Worker.

on: [push, pull_request]

jobs:
  CoverageWorker:
    name: Project Coverage Test Setup
    runs-on: ubuntu-18.04

    steps:
    - name: Stage 1 | Repository Checkout
      uses: actions/checkout@master

    - name: Stage 2 | Install Python3 Version 3.8.2
      uses: actions/setup-python@v2
      with:
        python-version: 3.8.2

    - name: Stage 3 | Activate MySQL Service in Virtual Environment
      run: sudo service mysql start

    - name: Stage 3.1 | Setup Empty Database Container
      run: |
        mysql --host=127.0.0.1 -uroot -proot --execute="CREATE DATABASE sc_db"

    - name: Stage 4 | Install Project Dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt

    - name: Stage 5 | Initialize Project Database
      run: |
        cd SmartClassroom
        python manage.py makemigrations SCControlSystem
        python manage.py migrate

    - name: Stage 6 | Code Coverage Test and Result Submission to Coveralls.IO
      run: |
        cd SmartClassroom
        python manage.py test
        coveralls